body {
    /* Employee_Dashboard */


    position: relative;
    width: 1536px;
    height: 864px;
    /* width: 80%; */
    overflow-x: hidden;

    background: #FFFFFF;
    font-family: 'Manrope';
}

.OverviewTitle {
    /* Overview */


    position: absolute;
    width: 105px;
    height: 33px;
    left: 340px;
    top: 320px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #000000;

}

/* Overview Display */
.Overview {
    position: absolute;
    width: 490px;
    height: 182px;
    left: 340px;
    top: 385px;
    height: 182px;
    width: 490px;
    left: 340px;
    top: 385px;
    border-radius: 13px;
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #E1E7EE;
    border-radius: 13px;

    /* for Black Layout */
}

.OngoingAssessed {
    position: absolute;
    width: 79px;
    height: 134px;
    left: 384px;
    top: 409px;
}

.OngoingAssessedSVG {
    position: absolute;
    left: 20%;
    right: 78.31%;
    top: 37.87%;
    bottom: 58.8%;

    /* PRIMARY_BLUE/PRI-2-400 */

    /* background: #1CAAE2; */
    height: 36px;
    width: 32.400001525878906px;
    left: 384px;
    top: 409px;
    border-radius: 0px;
    height: 36px;
    width: 32.400001525878906px;
    left: 384px;
    top: 409px;
    border-radius: 0px;


}

.OngoingAssessedText {
    position: absolute;
    width: 79px;
    height: 40px;
    left: 384px;
    top: 460px;

    /* font-family: 'Manrope'; */
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #979797;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.NumberOfOngoingAssessed {

    /* JS functionality needed to be added (IMPORTANT) */
    position: absolute;
    width: 14px;
    height: 33px;
    left: 384px;
    top: 510px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #2E3747;

}

.CompletedAssessed {
    position: absolute;
    width: 79px;
    height: 134px;
    left: 545px;
    top: 409px;
}

.CompletedAssessedSVG {
    position: absolute;
    left: 28.39%;
    right: 69.74%;
    top: 37.87%;
    bottom: 59.19%;

    /* PRIMARY_BLUE/PRI-2-400 */

    /* background: #1CAAE2; */
    height: 31.76470375061035px;
    width: 36px;
    left: 545px;
    top: 409px;
    border-radius: 0px;
    height: 31.76470375061035px;
    width: 36px;
    left: 545px;
    top: 409px;
    border-radius: 0px;

}

.CompletedAssessedText {
    position: absolute;
    width: 79px;
    height: 40px;
    left: 545px;
    top: 460px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #979797;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.NumberOfCompletedAssessed {
    position: absolute;
    width: 15px;
    height: 33px;
    left: 545px;
    top: 510px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #2E3747;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.PointsEarned {
    position: absolute;
    width: 79px;
    height: 134px;
    left: 707px;
    top: 409px;

}

.PointsEarnedSVG {
    /* Vector */


    position: absolute;
    left: 36.82%;
    right: 61.3%;
    top: 37.87%;
    bottom: 58.8%;

    /* PRIMARY_BLUE/PRI-2-400 */

    /* background: #1CAAE2; */
    height: 36px;
    width: 36px;
    left: 707px;
    top: 409px;
    border-radius: 0px;

}

.PointsEarnedText {
    position: absolute;
    width: 79px;
    height: 40px;
    left: 707px;
    top: 460px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #979797;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.NumberOfPointsEarned {
    /* 150 */


    position: absolute;
    width: 41px;
    height: 33px;
    left: 707px;
    top: 510px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #2E3747;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.BadgesEarnedTitle {
    /* Badge Earned */


    position: absolute;
    width: 158px;
    height: 33px;
    left: 902px;
    top: 320px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    white-space: nowrap;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #0D0E14;
}

.BadgesEarned {
    position: absolute;
    width: 490px;
    height: 182px;
    left: 902px;
    top: 385px;
    /* for Black Layout */
    /* Rectangle 11831 */


    box-sizing: border-box;

    position: absolute;
    width: 490px;
    height: 182px;
    left: 902px;
    top: 385px;

    background: #FFFFFF;
    border: 1px solid #E1E7EE;
    border-radius: 13px;
}

.QuickAccess {
    position: absolute;
    width: 150px;
    height: 33px;
    left: 340px;
    top: 653px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #000000;

}

.QuickaccessAssessment {
    position: absolute;
    width: 490px;
    height: 160px;
    left: 340px;
    top: 715px;

    /* LAYOUT_COLOR/LAYOUT-01 */

    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    /* for Black Layout */

}

.Assessments {
    position: absolute;
    height: 31.17px;
    left: 32.87%;
    right: 66.56%;
    top: 40px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;

}

.NumberOfAssessment {
    position: absolute;
    height: 48.83px;
    left: 25.87%;
    right: 62.34%;
    top: calc(50% - 48.83px/2 + 48.45px);

    /* Paragraph/Regular/16px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;

}

.NumberOfAssessmentArrow {
    position: absolute;
    left: 94.17%;
    right: 55.92%;
    top: 45.26%;
    bottom: 22.57%;

    /* PRIMARY_01/PRI-1-400 */

    background: #AAD064;
    transform: rotate(0deg);
}

.AssessmentsLogoEllipse {
    box-sizing: border-box;

    position: absolute;
    width: 98px;
    height: 98px;
    left: 366px;
    top: 746px;

    /* PRIMARY_01/PRI-1-50 */

    background: #F3F9E9;
    /* PRIMARY_01/PRI-1-50 */

    border: 2px solid #F3F9E9;
    border-radius: 95px;
}

.AssessmentsLogoEllipseVector {
    /* Vector */


    position: absolute;
    left: 29.57%;
    right: 77.34%;
    top: 28.76%;
    bottom: 24.54%;

    /* PRIMARY_01/PRI-1-300 */

    background: #BAD881;
}

.AssessmentsResultLogoEllipse {
    box-sizing: border-box;

    position: absolute;
    width: 98px;
    height: 98px;
    left: 30px;
    top: 32px;
    border-radius: 95px;

    /* PRIMARY_01/PRI-1-50 */

    background: #F3F9E9;
    /* PRIMARY_01/PRI-1-50 */

    border: 2px solid #F3F9E9;

}

.AssessmentsResultLogoEllipseVector {
    /* Vector */


    position: absolute;
    left: 28.9%;
    right: 48.02%;
    top: 31.04%;
    bottom: 24.81%;

    /* PRIMARY_01/PRI-1-300 */
}

.QuickaccessAssessmentResult {
    position: absolute;
    width: 490px;
    height: 160px;
    left: 902px;
    top: 715px;
    position: absolute;
    width: 451.59px;
    height: 160px;
    left: 902px;
    top: 715px;

    /* LAYOUT_COLOR/LAYOUT-01 */

    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    /* for Black Layout */
}

.AssessmentResultQuickAccess {
    position: absolute;
    height: 31.17px;
    left: 32.87%;
    right: 66.56%;
    top: 43px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    white-space: nowrap;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.NumberOfAssessmentResult {
    position: absolute;
    height: 48.83px;
    left: 33.14%;
    right: 33.07%;
    top: calc(50% - 48.83px/2 + 28.45px);

    /* Paragraph/Regular/16px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* white-space: nowrap; */

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
}

.AssessmentsResultLogoEllipseArrow {
    position: absolute;
    left: 94.17%;
    right: 55.92%;
    top: 45.26%;
    bottom: 22.57%;

    /* PRIMARY_01/PRI-1-400 */

    background: #AAD064;
    transform: rotate(0deg);
}

.ReportingManagerTitle {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 1438px;
    top: 172px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2px;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.ReportingManagerProfile {
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 251px;
    left: 1438px;
    top: 229px;

    /* LAYOUT_COLOR/LAYOUT-01 */

    background: #FFFFFF;
    /* TEXT_COLOR/TEXT-200 */

    border: 1px solid #EAECEE;
    border-radius: 10px;
    height: 251px;
    width: 200px;
    left: 1438px;
    top: 229px;
    border-radius: 10px;

}

.ReportingManagerName {
    /* Sachin Borkar */


    position: absolute;
    width: 119px;
    height: 25px;
    left: 41px;
    top: 184px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
    font-family: 'Manrope';
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}

.ReportingManagerRole {
    /* 2080 | Manager */


    position: absolute;
    width: 89px;
    height: 16px;
    left: 56px;
    top: 214px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.YourHRspocTitle {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 1680px;
    top: 172px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2px;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.YourHRspocProfile {
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 251px;
    left: 1680px;
    top: 229px;

    /* LAYOUT_COLOR/LAYOUT-01 */

    background: #FFFFFF;
    /* TEXT_COLOR/TEXT-200 */

    border: 1px solid #EAECEE;
    border-radius: 10px;
    height: 251px;
    width: 200px;
    left: 1680px;
    top: 229px;
    border-radius: 10px;

}

.YourHRspocProfilePicture {
    /* Frame 427318746 */


    box-sizing: border-box;

    position: absolute;
    width: 137px;
    height: 137px;
    left: 32px;
    top: 24px;

    background: url(/src/assets/EmployeeDashboardImages/HRspocpic.svg);
    border-radius: 100px;
    height: 137px;
    width: 137px;
    left: 32px;
    top: 24px;
    border-radius: 100px;

}

.YourHRspocName {
    position: absolute;
    width: 57px;
    height: 25px;
    left: 72px;
    top: 184px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.YourHRspocRole {
    position: absolute;
    width: 89px;
    height: 16px;
    left: 56px;
    top: 214px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.Colleague {
    position: absolute;
    width: 442px;
    height: 590px;
    left: 1438px;
    top: 520px;

    border: 1px solid #D6DADE;
    border-radius: 10px;
    /* for Black Layout */
}

.ColleagueTitle {
    position: absolute;
    width: 97px;
    height: 27px;
    left: 25px;
    top: 29px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.ViewAllColleague {
    position: absolute;
    width: 43px;
    height: 16px;
    right: 38px;
    top: 38px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    white-space: nowrap;

    /* TEXT_COLOR/TEXT-500 */

    color: #717D8A;
}

.ColleagueMembers1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 30px;
    top: 97px;

    background: url(/src/assets/EmployeeDashboardImages/ColleagueMembers1.svg);
}

.ColleagueMembers1ID {
    /* 2036 - Somogyi Adrián */
    position: absolute;
    width: 169px;
    height: 22px;
    left: 85px;
    top: 3px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-500 */

    color: #717D8A;
    white-space: nowrap;
}

.ColleagueMembers1Points {
    /* Points : 1587 */


    position: absolute;
    width: 82px;
    height: 21px;
    left: 295px;
    top: 3px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.ColleagueMembers1RoleSkillLevel {
    position: absolute;
    width: 169px;
    height: 22px;
    left: 85px;
    top: 30px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-500 */

    color: #717D8A;
}

.ColleagueMembers1Divider {
    position: absolute;
    width: 383px;
    height: 0px;
    left: 1px;
    top: 100px;

    /* TEXT_COLOR/TEXT-300 */

    border: 1px solid #D6DADE;
}

.ColleagueMembers2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 30px;
    top: 228px;

    background: url(/src/assets/EmployeeDashboardImages/ColleagueMembers2.svg);
}

.ColleagueMembers2ID {
    /* 2036 - Somogyi Adrián */
    position: absolute;
    width: 169px;
    height: 22px;
    left: 85px;
    top: 6px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-500 */

    color: #717D8A;
    white-space: nowrap;
}

.ColleagueMembers2Points {
    position: absolute;
    width: 79px;
    height: 21px;
    left: 290px;
    top: 7px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.ColleagueMembers3 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 30px;
    top: 359px;

    background: url(/src/assets/EmployeeDashboardImages/ColleagueMembers3.svg);
}

.ColleagueMembers4 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 30px;
    top: 489px;

    background: url(/src/assets/EmployeeDashboardImages/ColleagueMembers4.svg);
}

.Sidebar {
    position: absolute;
    width: 300px;
    height: 1080px;
    left: 0px;
    top: 0px;
    border: 1px solid black;
    /* for Black Layout */
}

.Topbar {
    position: absolute;
    width: 1620px;
    height: 114px;
    left: 300px;
    top: 0px;

    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.16));
    border: 1px solid black;
    /* for Black Layout */
}

.WelcomeGroup {
    position: absolute;
    width: 393px;
    height: 53px;
    left: 330px;
    top: 30px;
}

.WelcomeTitle {

    /* Welcome */
    position: absolute;
    width: 106px;
    height: 33px;
    left: 330px;
    top: 30px;

    /* H1 heading/Semibold/24px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-800 */

    color: #242D35;

}

.WelcomeDetails {
    /* View complete details of all location and its corresponding details. */

    position: absolute;
    width: 393px;
    height: 18px;
    left: 330px;
    top: 65px;

    /* Caption/Regular/13px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */


    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
}

/* default styles */

.AddQuestionsButton {
    box-sizing: border-box;
    position: absolute;
    width: 202px;
    height: 56px;
    left: 1190px;
    top: 157px;
    background: #7BCCED;
    border: 1px solid #7BCCED;
    border-radius: 4px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.AddQuestionsButtonVector {
    position: absolute;
    left: 79.09%;
    right: 14.89%;
    top: 47.86%;
    bottom: 39.64%;
    height: 7px;
    width: 12.16085433959961px;
    left: 165.7664794921875px;
    top: 15.7998046875px;
    border-radius: 0px;
}


/* media queries */

@media (max-width: 992px) {
    .AddQuestionsButton {
        /* modify styles for medium devices */
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .AddQuestionsButton {
        /* modify styles for small devices */
        width: 120px;
        height: 32px;
        font-size: 12px;
    }
}


.ProfilePicture {
    position: absolute;
    width: 84px;
    height: 84px;
    left: 340px;
    top: 162px;
    border-radius: 85px;
    /* for Black Layout */
    background: url(/src/assets/EmployeeDashboardImages/ProfilePicture.svg);

}

.ProfileName {
    position: absolute;
    width: 224px;
    height: 33px;
    left: 452px;
    top: 165px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* TEXT_COLOR/TEXT-900 */

    color: #0C1116;
}

.EmployeeID {
    position: absolute;
    width: 33px;
    height: 19px;
    left: 452px;
    top: 204px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
}

.EmployeePosition {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 452px;
    top: 224px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
}

.EmployeeRole {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 579px;
    top: 224px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;

    /* TEXT_COLOR/TEXT-400 */

    color: #A8B0B9;
}

.Reward1 {
    /* reward 1 */

    position: absolute;
    width: 50px;
    height: 50px;
    left: 960px;
    top: 417px;

    background: url(/src/assets/EmployeeDashboardImages/Reward1.svg);
}

.Reward2 {
    /* reward 2 */

    position: absolute;
    width: 50px;
    height: 50px;
    left: 1122px;
    top: 417px;

    background: url(/src/assets/EmployeeDashboardImages/Reward2.svg);
}

.Reward3 {
    /* reward 3 */


    position: absolute;
    width: 50px;
    height: 50px;
    left: 1283px;
    top: 417px;

    background: url(/src/assets/EmployeeDashboardImages/Reward3.svg);
}

.SkillLevel {
    /* Skill Level: Basic */


    position: absolute;
    width: 161.63px;
    height: 19px;
    left: 1050px;
    top: 501px;

    /* Medium/14px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #666565;
    /* styleName: Medium/14px; */
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.SkillLevelBasic {
    /* Skill Level: Basic */


    position: absolute;
    width: 161.63px;
    height: 19px;
    left: 1105px;
    top: 501px;

    /* Medium/14px */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;
    /* styleName: Medium/14px; */
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.SkillLevelBar {
    position: absolute;
    width: 373px;
    height: 6px;
    left: 960px;
    top: 536px;

    /* PRIMARY_BLUE/PRI-2-50 */

    background: #DFF3FB;
    border-radius: 30px;
    height: 6px;
    width: 373px;
    left: 960px;
    top: 536px;
    border-radius: 30px;
}

.ReportingManagerProfilePicture {
    /* Frame 427318746 */
    box-sizing: border-box;
    position: absolute;
    width: 137px;
    height: 137px;
    left: 32px;
    top: 24px;
    background: url(/src/assets/EmployeeDashboardImages/ReportingManagerPic.svg);
    border-radius: 100px;
}

.html {
    width: 1920px;
    height: 1080px;
}