body{
    position: relative;
width: 100%;
height: 768.38px;
overflow-x: hidden;

/* LAYOUT_COLOR/LAYOUT-01 */

background: #FFFFFF;
}
.navigational{
    position: absolute;
width: 213.44px;
height: 768.38px;
left: 0px;
top: 0px;
/* border: 1px solid black; */

background: linear-gradient(179.54deg, #AFE0F4 5.55%, #E1EEC8 194.36%);

}
.subnav{
    position: relative;
    bottom: 10px;
}

.list-of-topic{
    /* height: 600px; */
    /* width: 185px; */
    /* border: 1px solid black; */
    /* background-color: lightblue */
    margin-top: 90px;
}
.list-of-topic ul li{
    padding: 15px;
    font-size: 15px;
    list-style-type: none;
    margin-top: 12px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;

}


.logo1 img{
    position: relative;
    right: 27px;
}
.logoname{
    position: absolute;
    left: 53px;
}
.logout{
    position: absolute;
    left: 53px;
    top: 720px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}
.logout img{
    position: relative;
    right: 85px;
    top: 0px;
}
.companylogo{
    position: absolute;
width: 33.44px;
height: 33.44px;
left: 35.57px;
top: 35.57px;

/* background: url(icon.jpeg); */
}
.companylogo img{
    position: relative;
    right: 13px;
}
.companyname{
    position: absolute;
left: 5%;
right: 28.08%;
top: 4.63%;
bottom: 92.38%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19.9208px;
line-height: 23px;
letter-spacing: 0.1em;

/* TEXT_COLOR/TEXT-900 */

color: #0C1116;

}
.companyname1{
    position: absolute;
left: 5%;
right: 28.08%;
top: 7.22%;
bottom: 90.96%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 9.96042px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.09em;

/* TEXT_COLOR/TEXT-700 */

color: #373F47;

}
.test{
    position: absolute;
width: 760.55px;
height: 330.12px;
left: 241.9px;
top: 109.56px;
/* border: 1px solid black; */
}
.top-bar{
    position: absolute;
width: 1152.56px;
height: 81.11px;
left: 213.44px;
top: 0px;
/* border: 1px solid black; */
filter: drop-shadow(0px 0px 4.26875px rgba(0, 0, 0, 0.16));
}
.top-bar1{
    position: absolute;
width: 414px;
height: 37.9px;
left: 241.9px;
top: 22.06px;
/* border: 1px solid black; */
}
.Allocated-Assessment{
    position: absolute;
width: 182px;
height: 23px;
left: 241.9px;
top: 22.06px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 17.075px;
line-height: 23px;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.viewcomplete{
    position: absolute;
width: 414px;
height: 13px;
left: 241.9px;
top: 46.96px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 9.24896px;
line-height: 13px;
/* identical to box height */


/* TEXT_COLOR/TEXT-400 */

color: #A8B0B9;
}
.search{
    position: absolute;
width: 274.62px;
height: 30px;
left: 845.21px;
top: 26.32px;
border: 1px solid black;
border-radius: 8px;
}
.search h6{
    position: relative;
    bottom: 23px;
    left: 40px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 13px;
color: #A8B0B9;
}
#search{
    position: relative;

    left: 10px;
}
#notification{
    position: relative;
      top: 25px;
    left: 920px;
}
.rounded-circle{
    position: relative;
    left: 930px;
    top: 18px;
}
.name{
    position: absolute;
width: 90px;
height: 17px;
left: 1219.39px;
    top: 31.49px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.timer{
    position: absolute;
width: 296.68px;
height: 213.44px;
left: 1027.35px;
top: 111.7px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
border-radius: 7.11px;
}
.question-status{
    position: absolute;
width: 296.68px;
height: 261.11px;
left: 1027.35px;
top: 353.59px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
border-radius: 7.11px;
}
.questionstatus{
    position: absolute;
width: 112px;
height: 19px;
left: 1048.69px;
top: 374.94px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14.2292px;
line-height: 19px;

/* TEXT_COLOR/TEXT-900 */

color: #0C1116;
}
#div1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 35.88px;
height: 34.08px;
left: 1048.69px;
top: 415.49px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div2{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1101.34px;
top: 415.49px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div3{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1155.41px;
top: 415.49px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div4{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding:4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1210.19px;
top: 415.49px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div5{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1264.97px;
top: 415.49px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;

}
#div6{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 35.57px;
height: 34.08px;
left: 1048.69px;
top: 467.43px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div7{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 36.88px;
height: 34.08px;
left: 1101.34px;
top: 467.43px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div8{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1155.41px;
top: 467.43px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div9{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding:4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.88px;
height: 34.08px;
left: 1210.19px;
top: 467.43px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div10{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding:4.5375px 12.9406px;
gap: 7.11px;

position: absolute;
width: 37.71px;
height: 34.08px;
left: 1264.97px;
top: 467.43px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;
}
#div11{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding:2.5375px 7.9406px;
gap: 7.11px;

position: absolute;
width: 35.57px;
height: 34.08px;
left: 1048.69px;
top: 519.36px;

/* Least Blue */

background: #F8FDFF;
/* PRIMARY_BLUE/PRI-2-100 */

border: 0.711458px solid #AFE0F4;
border-radius: 2.84583px;

}
#start-btn{
    position: absolute;
width: 296.68px;
height: 39.84px;
left: 1027.35px;
top: 643.16px;

/* PRIMARY_BLUE/PRI-2-50 */

background: #DFF3FB;
border-radius: 2.84583px;
border: 1px solid black;

}

#next-btn{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7.11458px 17.075px;
gap: 14.23px;

position: absolute;
width: 66.88px;
height: 34.15px;
left: 934.86px;
top: 463.16px;

/* PRIMARY_BLUE/PRI-2-50 */

background: #DFF3FB;
/* PRIMARY_BLUE/PRI-2-200 */

border: 0.711458px solid #7BCCED;
border-radius: 2.84583px;
}
#previous-btn{
    /* Btn */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7.11458px 17.075px;
gap: 14.23px;

position: absolute;
width: 59.05px;
height: 34.15px;
left: 241.9px;
top: 463.16px;
border: none;

/* LAYOUT_COLOR/LAYOUT-01 */

background: #FFFFFF;
border-radius: 2.84583px;
}
.indicator{
    position: absolute;
width: 217.33px;
height: 17px;
left: 1067.19px;
top: 575.57px;
/* border: 1px solid black; */
}
.answered{
    position: absolute;
width: 78.5px;
height: 17px;
left: 1067.19px;
top: 575.57px;
/* border: 1px solid black; */
}
.Answered{
    position: absolute;
width: 60px;
height: 17px;
left: 1085.69px;
top: 575.57px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;

/* TEXT_COLOR/TEXT-500 */

color: #717D8A;

}
.notanswered{
    position: absolute;
width: 85px;
height: 17px;
left: 1199.52px;
top: 575.57px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;

/* TEXT_COLOR/TEXT-500 */

color: #717D8A;

}
.dot{
    position: absolute;
width: 11.38px;
height: 11.38px;
left: 1067.19px;
top: 579.84px;

/* PRIMARY_BLUE/PRI-2-400 */

background: #1CAAE2;
}
.dot1{
    position: absolute;
width: 11.38px;
height: 11.38px;
left: 1181.02px;
top: 579.84px;

/* PRIMARY_BLUE/PRI-2-50 */

background: #DFF3FB;
}
.timer1{
    position: absolute;
width: 39px;
height: 19px;
left: 1048.69px;
top: 133.04px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14.2292px;
line-height: 19px;

/* TEXT_COLOR/TEXT-900 */

color: #0C1116;
}
.time{
    position: absolute;
width: 70px;
height: 39px;
left: 1140.47px;
top: 188.54px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 28.4583px;
line-height: 39px;
/* identical to box height */

text-align: center;

/* TEXT_COLOR/TEXT-900 */

color: #0C1116;

}
.estimate{
    position: absolute;
width: 127px;
height: 17px;
left: 1112.01px;
top: 286.72px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;
text-align: center;

/* TEXT_COLOR/TEXT-900 */

color: #0C1116;
}
.points{
    position: absolute;
width: 60.47px;
height: 17.08px;
left: 941.26px;
top: 174.31px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-500 */

color: #717D8A;
}
.option1{
    position: absolute;
width: 759.84px;
height: 47.67px;
left: 242.61px;
top: 221.26px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
/* border-radius: 7.11px; */

}
#optionanswer{
    position: absolute;
/* width: 597.62px;
height: 17.08px; */
left: 296.68px;
top: 235.49px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;


}
#radio1{
    box-sizing: border-box;

position: absolute;
width: 17.08px;
height: 17.08px;
left: 263.95px;
top: 236.2px;

/* LAYOUT_COLOR/LAYOUT-01 */

background: #FFFFFF;
/* TEXT_COLOR/TEXT-400 */

border: 0.711458px solid #A8B0B9;
}
.option2{
    position: absolute;
width: 759.84px;
height: 47.67px;
left: 241.9px;
top: 278.18px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
/* border-radius: 7.11px; */

}
#option2answer{
    position: absolute;
/* width: 597.62px;
height: 17.08px; */
left: 295.97px;
top: 293.12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
#radio2{
    box-sizing: border-box;

position: absolute;
width: 17.08px;
height: 17.08px;
left: 263.24px;
top: 293.12px;

/* TEXT_COLOR/TEXT-400 */

border: 0.711458px solid #A8B0B9;
}
.option3{
    position: absolute;
width: 759.84px;
height: 47.67px;
left: 241.9px;
top: 335.1px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
/* border-radius: 7.11px; */
}
#option3answer{
    position: absolute;
/* width: 192.81px;
height: 17.08px; */
left: 295.97px;
top: 350.04px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
#radio3{
    box-sizing: border-box;

position: absolute;
width: 17.08px;
height: 17.08px;
left: 263.24px;
top: 350.04px;

/* LAYOUT_COLOR/LAYOUT-01 */

background: #FFFFFF;
/* TEXT_COLOR/TEXT-400 */

border: 0.711458px solid #A8B0B9;
}
.option4{
    position: absolute;
width: 759.84px;
height: 47.67px;
left: 241.9px;
top: 392.01px;
/* border: 1px solid black; */
border: 0.71px solid #D6DADE;
/* border-radius: 7.11px; */
}
#option4answer{
    position: absolute;
/* width: 206.32px;
height: 17.08px; */
left: 295.97px;
top: 406.95px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
#radio4{
    
    box-sizing: border-box;

    position: absolute;
    width: 17.08px;
    height: 17.08px;
    left: 263.24px;
    top: 406.95px;
    
    /* LAYOUT_COLOR/LAYOUT-01 */
    
    background: #FFFFFF;
    /* TEXT_COLOR/TEXT-400 */
    
    border: 0.711458px solid #A8B0B9;
}
#question{
    position: absolute;
/* width: 91.07px;
height: 17.08px; */
left: 241.9px;
top: 149.41px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-500 */

color: #717D8A;
}
.level{
    position: absolute;
width: 38.42px;
height: 17.08px;
left: 359.29px;
top: 149.41px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-500 */

color: #717D8A;

}
.basic{
    position: absolute;
width: 32.73px;
height: 17.08px;
left: 401.97px;
top: 149.41px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-500 */

color: #717D8A;

}
.content{
    position: absolute;
width: 121.66px;
height: 18.5px;
left: 243.9px;
top: 109.56px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14.2292px;
line-height: 19px;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.time-left{
    position: absolute;
width: 53px;
height: 17px;
left: 1149.01px;
top: 233.36px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;
text-align: center;

/* TEXT_COLOR/TEXT-500 */

color: #717D8A;
}
#question_no_one{
    position: absolute;
width: 347.9px;
height: 17.08px;
left: 242.9px;
top: 174.31px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 12.8062px;
line-height: 17px;
/* identical to box height */


/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}

@media(max-width: 1536px) {
    body {
      background-color: rgb(230, 173, 173);
    }
  }


/* Default styles */

/* Styles for screens smaller than 768px */
