<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="teammembers.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar"></div>
    <div class="navbar"></div>
    <div class="profile1"></div>


    <div class="profile2"></div>
  

    <div class="profile3"></div>


    <div class="rm"></div>
    <div class="bp"></div>
    
    <div class="profile4"></div>
    <div class="profile5"></div>
    <div class="profile6"></div>
    <div class="pname">2215-Atharva Arjun</div>
   
    <div class="lo">
        <img id="location" src="icons.svg/location.svg" alt="">
        <span>Chennai</span>
    </div>
<div class="email">
    <img id="email1" src="icons.svg/email.svg" alt="">
    <span>Atharva.Arjun@kanini.com</span>

</div>
    <div class="pname2">1859-Jairaj Kumar</div>
    <div class="los">
        <img id="locations" src="icons.svg/location.svg" alt="">
        <span>Coimbatore</span>
    </div>
    
    
    <div class="pname3">2158-Lavanya Krishnan</div>
    <div class="los1">
        <img id="locations1" src="icons.svg/location.svg" alt="">
        <span>Chennai</span>
    </div>
    
    <div class="pname4">2871-Balendra Chandra</div>

    <div class="los2">
        <img id="locations2" src="icons.svg/location.svg" alt="">
        <span>Chennai</span>
    </div>
    <div class="pname5">2310-Saumya Satyam</div>
    <div class="pname6">2102-Amulya yadav</div>
    <div class="pg"></div>
    <div class="page"></div>
    <div class="jrole3">Junior Associate - IT Application Development</div>
    <div class="jrole2">Senior Associate - IT Application Development</div>
    <div class="jrole1">Junior Associate - IT Application Development</div>
    <div class="jrole4">Senior Associate - IT Application Development</div>
    <div class="jrole5">Senior Associate - IT Application Development</div>
    <div class="jrole6">Junior Associate - IT Application Development</div>
    <div class="pg1"></div>
    <div class="pg2"></div>
    <div class="pg4"></div>
    <div class="pg5"></div>
    <div class="pg6"></div>
    <div class="pic1">
        <img class="rounded-circle" src="taj.jpg" alt="iamge" width="75" height="75">
    </div>
   
    <div class="pic2">
        <img class="rounded-circle" src="k.jpg" alt="image" width="75" height="75">
    </div>

    <div class="pic3">
        <img class="rounded-circle" src="apj.jpg" alt="image" width="75" height="75">
    </div>
    <div class="pic4">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="75" height="75">

    </div>
    <div class="pic5">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="75" height="75">

    </div>

    <div class="pic6">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="75" height="75">

    </div>
    <div class="rimage">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="75" height="75">
    </div>
    <div class="report">Reporting Mananger</div>
    <div class="rname">2036 - Raj Gokul</div>
    <div class="best">Best Performers</div>
    <div class="bp1">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="65" height="65">
    </div>
    <div class="bpn">2036 - Aakesh Murali</div>
    <div class="bpd1">Associate - IT Application Development</div>
    <div class="bpp">Points : 1587</div>
    <div class="bpic2">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="65" height="65">
    </div>
    <div class="bpic3">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="65" height="65">
    </div>

    <div class="bpic4">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="65" height="65">
    </div>
    <div class="bpic5">
        <img class="rounded-circle" src="KARTHIK RAJA.jpg" alt="image" width="65" height="65">
    </div>
   
    <div class="bpn1">1536 - Maanav Anand</div>
    <div class="bpd2">Associate - IT Application Development</div>
    <div class="bpp2">Points : 1587</div>

    <div class="bpn2">3256 - Kiyana Yadav</div>
    <div class="bpd3">Associate - IT Application Development</div>
    <div class="bpp3">Points : 1587</div>

    <div class="bpn3">2376 - Pratham Kumar</div>
    <div class="bpd4">Associate - IT Application Development</div>
    <div class="bpp4">Points : 1587</div>

    <div class="bpn4">2612 - Sai Saatvik </div>
    <div class="bpd5">Associate - IT Application Development</div>


    <div class="logo1">

        <img  src="kanini.jpg" alt="image" width="55" height="45">
    </div>

    <div class="l1">Skill Level: Begineer</div>
    <div class="l2">Skill Level: Intermediate</div>
    <div class="l3">Skill Level: Begineer</div>
    <div class="l4">Skill Level: Begineer</div>
    <div class="l5">Skill Level: Begineer</div>
    <div class="l6">Skill Level: Intermediate</div>
    
    <div class="sbox">
        <label>
            <img id="searchicon" src="icons.svg/search.svg" alt="">
        </label>
    <div class="se">Search Employee</div>
    </div>
    <div class="tbox"></div>
    
    <div class="lname">
        Subramaniyam
        </div>
        <div class="bell">

            <i class='far fa-bell' style='font-size:24px'></i>
        </div>
    <div class="va">View All</div>
    <div class="tm">Team Members</div>
    <div class="ht">Add question under the selected department and topics</div>
 
</body>
</html>