<!-- <!DOCTYPE html>
<html lang="en"> -->
<!-- <head> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" />
<!-- </head> -->
<!-- <body> -->
    <div class="nav" >
      <div class="list-of-topic">
        <div class="companylogo">
          <img src="icon.jpeg" alt="" width="95%" height="95%"> </div> 
          <div class="companyname">kanini</div>
           <div class="companyname1">assessment</div>
      <div class="test">
        <ul>
          <span class="logo1"><img src="dash.svg"></span><span class="logoname">Dashboard</span> <br><br><br>
         <span class="logo1"><img src="assesment.svg"></span><span class="logoname">Take Assessment</span> <br><br>
          <span class="logo1"><img src="allocated.svg"></span><span class="logoname">Allocated Assessment</span><br><br>
          <span class="logo1"><img src="result.svg"></span><span class="logoname">Result</span><br><br>
          <span class="logo1"><img src="team member.svg"></span><span class="logoname">Team Members</span><br><br>
          <span class="logo1"><img src="setting.svg"></span><span class="logoname">Settings</span><br><br>
         
        </ul>


      </div>
        
    </div>
    </div>
    <div class="topnav">
      <!-- <div class=" allocated">Allocated Assessment</div> -->
      <span class="material-symbols-outlined" id="notification">
        
      </span>

      <img class="rounded-circle" src="bell.svg" alt="Generic placeholder image"width="30" height="30">
 </div>
<div class="name">subaramaniyam</div>
<div class="top-bar1"></div>
<div class="Allocated-Assessment">Allocated Assessment</div>
<div class="viewcomplete">View complete details of all assessed and its corresponding details of employee under your profile</div>
<div class="search">
  <span class="material-symbols-outlined" id="search"><h6>search here......</h6></span>     
    </div>
    <div class="all">Allocated Assessment</div>
    <div class="card">
        <div class="cardname">ASS04_UXUI_001</div>
        
        <div class="butn">
        <button class="btn">upskil</button></div>
        <button class="btn">UXUI</button>
        <div class="profile">
          <span class="material-symbols-outlined">
          person<h6  style="display: inline ; font-size: 9px;">Requestedby:Priya</h6>
          </span><br>
          <div>
            <span class="material-symbols-outlined">
                timer<h6 style="display: inline; font-size: 9px;">submitted on:8th aug2022</h6>
            </span>
        </div>
        <div><p class="p">points:150</p></div>

        <div class="start">start Assessment</div>
    </div>
    
    <div>
    <div class="card2">
        <div class="cardname2">ASS12_UXUI_011 <span id="editor" class="material-symbols-outlined">
          border_color</span></div>
        <button class="btn" style="border:1px solid black">Basic</button>
        <button class="btn">UXUI</button>
        <div class="profile">
          <span class="material-symbols-outlined">person<h6  style="display: inline; font-size: 9px;">Requestedby:sachin</h6>
          </span><br>
          <div>
              <span class="material-symbols-outlined">
                  timer<h6 style="display: inline; font-size: 9px;">submitted on:14th aug2022</h6>
              </span>
          </div>
          <div><p class="p">points:150</p></div>

          <div class="start">start Assessment</div>
      </div>
    </div>
    </div>
    
<!-- </body> -->
<!-- </html> -->