.card{
    position: absolute;
width: 264px;
height: 161.6px;
left: 272px;
top: 175.2px;
border: 1px solid black;
}
.cardname{
position: relative;
width: 123px;
height: 20px;
left: 16px;
top: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14.4px;
line-height: 20px;
/* identical to box height */


/* TEXT_COLOR/TEXT-900 */

color: #0C1116;

}
.nav{
    position: absolute;
width: 240px;
height: 864px;
left: 0px;
top: 0px;
border: 1px solid black;
}
.topnav{
    position: absolute;
width: 1296px;
 height: 91.2px;
left: 240px;
  top: 0px;

    filter: drop-shadow(0px 0px 4.8px rgba(0, 0, 0, 0.16));
  border: 1px solid black;
}
.card2{
    position: absolute;
   width: 264px;
   height: 161.6px;
  left:307.4px;
top: -2.8px;
border: 1px solid black;
}
.cardname2{
    position: relative;
    width: 123px;
   height: 20px;
  left: 16px;
 top: 16px;

font-family: 'Manrope';
    font-style: normal;
       font-weight: 600;
      font-size: 14.4px;
    line-height: 20px;
/* identical to box height */


/* TEXT_COLOR/TEXT-900 */

color: #0C1116;
}
.all{
  position: absolute;
width: 171px;
height: 22px;
left: 272px;
top: 123.2px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-900 */

color: #0C1116;

}
.but{
  position: absolute;
width: 81px;
height: 16px;
left: 179.4px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 9.6px;
line-height: 15px;
/* Badge */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 8px;
gap: 10px;

width: 48px;
height: 20px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* identical to box height, or 158% */


/* SUCCESS_COLOR/SUCCESS-300 */


}
.start{
  box-sizing: border-box;
  font-size: small;

position: absolute;
width: 100.8px;
height: 23.2px;
left: 147.2px;
top: 128px;

/* SUCCESS_COLOR/SUCCESS-100 */

background: #D6F3E9;
border-radius: 800px;
}
.btn{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 8px;
gap: 10px;

width: 48px;
height: 20px;

background: #FFFFFF;
border: 1px solid #EAE9EA;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
width: 32px;
height: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */

text-align: center;

color: #777777;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.p{
position: absolute;
width: 63px;
height: 16px;
left: 20px;
top: 130px;

font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 16px;



color: #717D8A;
}
#editor{
width: 36px;
height: 35px;
right:100px;
left:100px;


/* PRIMARY_BLUE/PRI-2-100 */

background:#AFE0F4;
border-radius: 900px;
position: absolute;
left: 161.56%;
right: 33.33%;
top: -31%;
bottom: 32.86%;

/* TEXT_COLOR/TEXT-700 */

background: #AFE0F4;
}
.dhasboard{
position: absolute;
left: 27.67%;
right: 45%;
top: 14.35%;
bottom: 83.61%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.takeassessment{
position: absolute;
left: 27.67%;
right: 18.67%;
top: 22.04%;
bottom: 76.2%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;

/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;


}
.AllocatedAssessment{
position: absolute;
left: 27.67%;
right: 16.33%;
top: 29.63%;
bottom: 68.33%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-900 */

color: #0C1116;
}
.Result{
position: absolute;
left: 27.67%;
right: 56%;
top: 37.41%;
bottom: 60.56%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.TeamLeaders{
position: absolute;
left: 27.67%;
right: 34.33%;
top: 45.09%;
bottom: 52.87%;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;

}
.Settings{
position: absolute;
left: 27.67%;
right: 51%;
top: 52.78%;
bottom: 45.19%;

/* Menu/Medium/16px */

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* TEXT_COLOR/TEXT-600 */

color: #4F5B67;
}
.logout{
position: absolute;
width: 1016px;
height: 516px;
left: -344px;
top: 619px;
}
.nav{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(179.54deg, #AFE0F4 5.55%, #E1EEC8 194.36%);

}

.Allocated{
position: absolute;
width: 256px;
height: 33px;
left: 340px;
margin-right: 800px;
top: 31px;

/* H1 heading/Semibold/24px */

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.companylogo{
position: absolute;
width: 33.44px;
height: 33.44px;
left: 35.57px;
top: 35.57px;

}
.companyname{
position: absolute;
left: 40%;
right: 28.08%;
top: 4.63%;
bottom: 92.38%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19.9208px;
line-height: 23px;
letter-spacing: 0.1em;

color: #0C1116;
}
.companyname1{
position: absolute;
left: 40%;
right: 28.08%;
top: 7.22%;
bottom: 90.96%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 9.96042px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.09em;

/* TEXT_COLOR/TEXT-700 */

color: #373F47;
}
.test{
position: absolute;
width: 760.55px;
height: 330.12px;
left: 20.9px;
/* top: 200.56px; */padding-top: 100px;
/* border: 1px solid black; */
}
.logo1 img{
position: relative;
right: 27px;
}
.logoname{
position: absolute;
left: 53px;
}
̥top-bar1{
position: absolute;
width: 414px;
height: 37.9px;
left: 241.9px;
top: 22.06px;
/* border: 1px solid black; */
}

.Allocated-Assessment{
position: absolute;
width: 182px;
height: 23px;
left: 241.9px;
top: 22.06px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 17.075px;
line-height: 23px;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.viewcomplete{
position: absolute;
width: 414px;
height: 13px;
left: 241.9px;
top: 46.96px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 9.24896px;
line-height: 13px;
/* identical to box height */


/* TEXT_COLOR/TEXT-400 */

color: #A8B0B9;
}
.search{
position: absolute;
width: 274.62px;
height: 30px;
left: 845.21px;
top: 26.32px;
border: 1px solid black;
border-radius: 8px;
}
.search h6{
position: relative;
bottom: 23px;
left: 40px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 13px;
color: #A8B0B9;
}
#search{
position: relative;
/* 
left: 5px; */
left: 1px;
top: 25px;
}
#notification{
position: relative;
top: 25px;
left: 920px;
}
.rounded-circle{
position: relative;
left: 900px;
top: 30px;
}
.name{
position: absolute;
width: 90px;
height: 17px;
left: 1219.39px;
top: 31.49px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12.8062px;
line-height: 17px;

/* TEXT_COLOR/TEXT-800 */

color: #242D35;
}
.butn{
right: 50px;
}