* {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

h1,
label,
button,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    font-family: "Roboto", sans-serif;
}

.row {
    margin-top: -70px;
}

.register {
    margin-top: -95px;
}

.login-container {
    width: 100%;
}

.form-container {
    width: 90%;
    margin-right: 20%;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    color: #626D8A;
}

button:focus {
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 90%;
    padding: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    color: black;
}

input[type="submit"] {
    background: #7BCCED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    height: 42px;
    justify-content: center;
}

input[type="submit"]:hover {
    background-color: grey;
}

#message {
    text-align: center;
    color: red;
}

#image1 {
    padding-bottom: 5%;
    margin-left: 419px;
    height: max-content;
}

.container {
    margin-top: 150px;
    width: auto;
}

.button:hover {
    background-color: black;
}

#bgimage {
    width: fit-content;
    margin-left: -15px;
    height: fit-content;
    object-fit: fill;
    background-position: center;
    background-size: cover;
}

#maincontainer {
    background-color: rgb(255, 255, 255);
    margin-top: 5em;
}

.col-lg-7 {
    background-color: rgb(255, 255, 255);
}

.button:focus {
    outline: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

button:focus {
    outline: none;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}
